#canvas h1{
   font-size:180% !important; 
}
.listing th {
    font-size:85% !important;
}
.listing td {
    font-size:75% !important;
}

div.form input{
    margin: 10px 0 5px;
}

div.form li input{
    margin: 0 10px 0 0;
}

div.form textarea{
    margin: 20px 0 5px;
}

#content_menu{
	font-size:75% !important;
	width: 140px;
}

div.content{
	margin-left:140px;
}

input.primary{
    margin: 0 0 10px;
    padding: 3px 6px;
}

fieldset li input{
    float:left;
}

ul, ol {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

fieldset ul {
    margin:0 0 0 50px;
}

.form label {
	border-top:0;
	margin:0;
	padding:0;
}

fieldset {
	border-color:-moz-use-text-color -moz-use-text-color #DDDDDD;
	border-style:none none solid;
	border-width:medium medium 1px;
	padding:10px 0;
}

fieldset ul li {
	display:block;
	height:20px;
}
